<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>

	<style>


	</style>


	<body>
	<div>
		<form id="view_graph" action="{{ url_for('complete') }}" method ="POST">
			<h1 style="font-size:30px; color:blue; display: inline-block;">RESULT</h1>
			<p style="font-size:15px; display: inline-block;">Code Plagiarism Checker v0.7b &nbsp;&nbsp; {{Time}} sec</p>
			<input  type="submit" value="show graph" style="display: inline-block;" >
		</form>
	</div>

	<hr>
		<form id ="good_code" action="{{ url_for('show_good_code') }}" method = "GET">
		<p style="font-size:15px; color:blue;"> VAILD CODE </p>
		{%for num in good %}
				<input style="font-size:15; display: inline-block; background: #ffffff; border: 0px;" type="submit" name="good_code" value={{num}} &nbsp;>
		{% endfor %}
		</form>
	<br>
		<form id="strange_code" action="{{ url_for('show_strange_code') }}" method = "GET">
		<p style="font-size:15px; color:blue;" > INVAILD CODE</p>
		{% for num in er %}
				<input style="font-size:15; display: inline-block; background: #ffffff; border: 0px;" type="submit" name="strange_code" value= {{num}} &nbsp;>
		{% endfor %}
		</form>
	<br>
	
		<form id="short_code" action="{{ url_for('show_short_code') }}" method = "GET">	
		<p style="font-size:15px; color:blue;" > SHORT CODE</p>
		{% for num in short %}
				<input style="font-size:15; display: inline-block; background: #ffffff; border: 0px;" type="submit" name="short_code" value= {{num}} &nbsp;>
		{% endfor %}
		</form>
	<hr>

	<table class= "re_table">
		<thead>

			<tr>
				<th><div style="margin-right:30px;">No.  </div></th>
				<th><div style="margin-right:30px;">File1  </div></th>
				<th><div style="margin-right:30px;">Len1   </div></th>
				<th><div style="margin-right:30px;">File2  </div></th>
				<th><div style="margin-right:30px;">Len2   </div></th>
				<th><div style="margin-right:100px;">Score </div></th>
			</tr>
		</thead>
		
		<tbody>

			{% for num in pr %}
				<tr>
					<td><div style="margin-top:10px; margin-right:30px; font-size:15px; text-align:right"> {{num.number}}</div></td>					
					<form id="diff" action="{{ url_for('show_code') }}" method = "GET">					
						<td><input style="border:0px" name="file1" type="text"  value={{num.file1}} readonly></td>
						<td><div style="margin-top:10px; margin-right:30px; font-size:15px; text-align:right"> {{num.len1}}  </div></td>
						<td><input style="border:0px" name="file2" type="text"  value={{num.file2}} readonly></td>
						<td><div style="margin-top:10px; margin-right:30px; font-size:15px; text-align:right"> {{num.len2}}  </div></td>
						<td><input style="margin-right:100px; background: #ffffff; border: 0px;" type="submit" value={{num.score}} ></td>
					</form>

				</tr>
			{% endfor %}
		</tbody>
	</table>

	</body>
</html>
