<html lang="en">
	<style>
		.textarea_size {
		    resize:none;
		    width:45%;
		    height:90%;
		    border:1px solid #ccc;
		    font-family: Consolas;
		    font-size:18px;
		}
	</style>

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
	</head>

	<body>

		<h3 style="color:red"> {{File1_name}} <--> {{File2_name}} </h3>



   		<textarea class="textarea_size"  >
		{{File1_name}}{{File1}}
		</textarea>


  		<textarea class="textarea_size"  >
		{{File2_name}}{{File2}}
		</textarea>
	</body>

</html>
