<!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

			<form id="upload-form" action="{{ url_for('upload') }}" method ="POST" enctype="multipart/form-data">
				<input type="file" name="file">
				<input type="submit" value="submit" >
				<span style="color:#C0C0C0"><p> import only zip file</p> </span>
			</form>

	<div id="successAlert" class="alert alert-success"  role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-success" role="alert" style="display:none;"></div>
</div>
</body>
</html>